# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.vscode
lib/bin

.idea

iso-codes/

# Avoid mistakenly tracking original po files.
lib/src/main/resources/iso_3166/*.po
lib/src/main/resources/iso_3166/Makefile*